// ....................Global Style..............
// google font import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
// google font import End

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #000;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}

ul,
ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container_size {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1200px) {
        padding-left: 15px;
        padding-right: 15px;
    }
}

// ....................Global Style..............End


// ...................Header ...................
header#Header {
    background: rgba(255, 255, 255, 0.1);
    margin: 0;
    padding: 15px 0;
    font-size: 18px;

    nav {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 15px;
        align-items: center;
        text-transform: uppercase;
        position: relative;

        .navbar_list {
            display: grid;
            grid-template-columns: repeat(5, auto);
            transition: .1s ease-in-out;
            width: 100%;
            overflow: hidden;

            @media (max-width: 700px) {
                opacity: 0;
                visibility: hidden;
                display: block;
                position: absolute;
                top: 0;
                pointer-events: none;
                background: #222;
                width: 100%;
                padding: 20px;
                box-shadow: 2px 2px 5px #fff;

                .navbar_list_action {
                    display: block;
                    width: 100%;
                }
            }

            .navbar_list_action {
                padding: 3px 10px;
                border-radius: 15px;
                white-space: nowrap;
                text-align: center;
                transition: .3s;

                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                    color: #fff;
                }

                &.active {
                    background: #fff;
                    color: #000;
                }
            }
        }

        //  mobile responsive toggle action
        .btn_toggle {
            display: none;
            background: transparent;
            border: none;
            outline: none;
            cursor: pointer;
            place-self: end;

            @media (max-width: 700px) {
                display: block;
            }

            svg {
                fill: #fff;
            }

            .bi-x-lg {
                display: none;
            }
        }

        #btn_toggle_check {
            display: none;
        }

        #btn_toggle_check:checked {

            ~.btn_toggle {
                .bi-list {
                    display: none;
                }

                .bi-x-lg {
                    display: inline-block;
                }
            }

            ~.navbar_list {
                opacity: 1;
                top: calc(100% + 18px);
                pointer-events: visible;
                visibility: visible;
                z-index: 100;
            }
        }
    }
}

// ...................Header ...................End


// ...................Main ...................
main{
    section{
        .testimonials_wrapper{
            margin-top: 50px;
            color: #fff;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            flex-wrap: nowrap;
            grid-gap: 15px;
            .testimonial {
                border: 1px solid rgba(92, 92, 92, 0.576);
                padding: 20px;
                border-radius: 15px;
                .testimonials_user{
                    text-align: center;
                    img{
                        display: block;
                        height: 100px;
                        margin: auto;
                        margin-bottom: 8px;
                    }
                }
              }

              
              .testimonial blockquote {
                font-style: italic;
                color: #ccc;
                margin: 0;
                padding: 0;
              }
              
              .testimonial-rating {
                display: grid;
                grid-template-columns: repeat(5, auto);
                align-items: center;
                margin: auto;
                margin-top: 5px;
                width: 150px;
              }
              
              .testimonial-rating span {
                color: #888;
                margin-right: 5px;
                font-size: 25px;
              }
              
              .testimonial-rating .star {
                color: #fdd835;
              }
        }

        .lookbook-gallery {
            .a11y-only {
                border: 0;
                clip: rect(0 0 0 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
    
            .a11y-only.focusable:active,
            .a11y-only.focusable:focus {
                clip: auto;
                height: auto;
                margin: 0;
                overflow: visible;
                position: static;
                width: auto;
            }
    
            img {
                min-width: 10em;
                max-width: 100%;
                display: block;
                background: #ddd;
            }
    
            .model {
                margin: 0;
                position: relative;
    
                .model--caption {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 0;
                    background-color: rgba(0, 0, 0, .85);
                    padding: .35em 1.2em .25em .9em;
                    justify-self: start;
    
                    .model-hed {
                        font-size: 1.25em;
                        margin: .5em 0;
                        font-family: Lora, serif;
    
                        a {
                            color: #fff;
                            text-decoration-color: rgba(255, 255, 255, .5);
                        }
                    }
    
                    p {
                        font-size: .9375em;
                        font-family: "Open Sans", sans-serif;
                        font-style: normal;
                        font-weight: 400;
                        color: #fff;
                        line-height: 1.5;
                        margin: 0 0 .5em 0;
                    }
                }
            }
    
            @media(min-width: 45em) {
                .lookbook-grid {
                    display: flex;
                    flex-wrap: wrap;
                }
    
                .model {
                    flex: 47.5%;
                    margin: .5%;
                }
            }
    
            @media(min-width: 65em) {
                .model {
                    flex: 24.25% 0;
                    margin: .25%;
                }
    
                @supports(display: grid) {
                    .lookbook-grid {
                        display: grid;
                        grid-gap: .5em;
                        grid-template-columns: repeat(4, minmax(200px, 1fr));
                    }
    
                    .model {
                        margin: 0;
                    }
    
                    .model:nth-of-type(4n-1) {
                        grid-row-end: span 2;
                        grid-column-end: span 2;
                    }
                }
            }
        }
    }
}

// ....Section ....End
// ...................Main ...................End




// ...................Footer ...................
footer#Footer {
    margin-top: 100px;
    padding-top: 15px;
    font-size: 18px;
    background: rgba(255, 255, 255, 0.1);

    .logo {
        text-transform: uppercase;
    }

    .footer_wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-gap: 50px;

        @media (max-width: 700px) {
            grid-template-columns: repeat(1, auto);
            grid-gap: 10px;
        }

        .footer_list {
            li:not(.not_dics) {
                list-style: disc;
                color: #fff;
                list-style-position: inside;
                padding-left: 25px;
            }

            .list_title {
                color: #fff;
                text-align: center;
                padding: 10px 0;
                border-bottom: 2px solid #333;
            }
        }
    }

    .reserve_txt {
        text-align: center;
        font-size: 18px;
        color: rgba(238, 238, 238, 0.541);
        padding: 12px;
        background: rgba(0, 0, 0, 0.3);
        margin-top: 50px;
    }
}

// ...................Footer ...................End